# Build and Release Folders
bin-debug/
bin-release/
starling/doc/html/

# Project property files
*/.settings/*
*/.project
.flexProperties
.FlexUnitSettings

.metadata
.idea/

# OS X folders
.DS_Store
